.button {
  color: var(--background);
  /* background-color: var(--primary); */
  background-image: linear-gradient(45deg, var(--secondary), var(--primary));
  border: none;
  padding: 1rem 0.5rem;
  margin: 2rem 0;
  cursor: pointer;
  border-radius: 0.125rem;
  font-size: var(--font-size-base);
  transition: all 0.3s;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

/* .button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
} */
